:root {
  --clr: #25253b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  background: var(--clr);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
nav.menu-contianer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 700px;
}
nav.menu-contianer ul {
  padding: 0 35px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(238, 235, 235, 1);
  width: 100%;
  height: 40px;
  border-radius: 25px;
}
nav.menu-contianer ul li {
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 80px;
  color: var(--clr);
}
nav.menu-contianer ul li i {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  top: 10%;
  font-size: 1.7em;
  transition: 0.5s;
}
nav.menu-contianer ul li div.text {
  position: absolute;
  bottom: 10%;
  flex-shrink: 0;
  font-size: 0.7em;
  color: transparent;
  transition: 0.5s;
}
nav.menu-contianer ul li.active div.text {
  position: absolute;
  bottom: 0.5%;
  flex-shrink: 0;
  font-size: 0.85em;
  color: var(--clr);
}
nav.menu-contianer ul li.active i {
  flex-shrink: 0;
  transform: translateY(-17px);
}
div.indicator-container {
  position: absolute;
  width: 80px;
  height: 40px;
  left: 0;
  transition: 0.5s;
}
div.indicator {
  position: relative;
  width: 50px;
  height: 50px;
  border: 5px solid var(--clr);
  background: green;
  border-radius: 50%;
  bottom: 25px;
  left: 15px;
}
div.indicator::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border-top-right-radius: 50%;
  top: 20px;
  left: -19px;
  box-shadow: 0 -5px 0 0 var(--clr);
}
div.indicator::after {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border-top-left-radius: 50%;
  top: 20px;
  right: -19px;
  box-shadow: 0 -5px 0 0 var(--clr);
}
