@import url(fonts/font-awesome.min.css);
@font-face {
  font-family: "FontAwesome";
  src: url("fonts/font-awsome-family/fontawesome-webfont.woff") format("woff"),
    url("fonts/font-awsome-family/fontawesome-webfont.woff2") format("woff2"),
    url("fonts/font-awsome-family/fontawesome-webfont.ttf") format("ttf"),
    url("fonts/font-awsome-family/fontawesome-webfont.eot") format("eot");
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
i {
  vertical-align: middle;
}

#colapse_button {
  display: none;
  background-color: rgba(240, 248, 255, 0);
  border: 0px;
  padding-top: 40px;
  padding-right: 60px;
  padding-left: 70px;

}
.verticla_menu_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 200px; */
  /* margin-top: 50px; */
  /* justify-content: center; */
}

.menu_ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 35;
  display: flex;
  align-items: center;
  color: aliceblue;
  border-right: 1px solid rgba(255, 255, 255, 0.214);
  font-size: large;
  font-weight: bold;
  background-color: blueviolet
  
}

.fix-header {
  background-color: blueviolet;
  display: flex;
  height: 140px;
  justify-content: space-between;
}
.menu_ul {
  display: flex;
  align-items: center;
  
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 5px;
}

.menu_ul > li:hover {
  box-shadow: rgb(187, 234, 133) 0px 5px 5px 5px;
  color: rgb(82, 226, 120);
  transform: translate3d(0px,4px,0px);
  transition-duration: 500ms;
}

@media screen and (max-width: 800px) {
    .menu_ul {
      display: none;
    }
    .info {
      font-size: large;
    }
    .fix-header {
      direction: rtl;
    }
    #colapse_button {
      display: flex;
    }
  
    #about_me{
      flex-direction: column;
    }
  
    #mypic_img{
      width: 100%;
    }
  
    #mypic{
      width: 100%;
    }
    #about_me_description{
      width: 100%;
    }
  }


.vertical_menu{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    direction: ltr;
    
}

#mypic{
    width: 50%;
}
#mypic_img{
    width: 100%;
    background-color: blue;
}
#about_me_description{
    width: 50%;
    background-color: aqua;
    padding: 5px;
}



#about_me{
    margin-top: 200px;
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    background-color: lightgreen;
    overflow: hidden;
}


