body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: rgb(240, 246, 246);
}

.square{
    background-color: black;
    width: 200px;
    height: 200px;
}

.mn{
    display: flex;

}

.one{
    height: 100px;
    width: 50px;
    background-color: blue;
}

.tow{
    height: 100px;
    width: 50px;
    background-color: rgb(28, 227, 41);
}

.three{
    height: 100px;
    width: 50px;
    background-color: rgb(252, 76, 36);
}
